[submodule "lib/teensy-hal"]
	path = lib/teensy-hal
	url = git@github.com:phillyembedded/TeensyHAL.git
[submodule "lib/hal-interface"]
	path = lib/hal-interface
	url = git@github.com:phillyembedded/HALinterfaces.git
